
.ContainerBase 
{
width:100%;
height:100%;
background:#11111169;
position:absolute;
top:0;
z-index:2;
display:flex;
justify-content:center;
opacity:1;
transition:.1s ease-in;
}

.Remove 
{
width:100%;
height:100%;
position:absolute;
top:0;
display:flex;
justify-content:center;
opacity:0 !important;
transition:.3s ease-in-out;
z-index:-1;
}

.ContainerSign
{
width:1050px;
height:510px;
background-size:38%;
background-position:center;
margin:35px 0;
position:fixed;
display:flex;
}

.AriesWallpaper
{
background-image:url(../../../public/Z1-Aries_Wallpaper.jpg);
}

.TouroWallpaper
{
background-image:url(../../../public/Z2-Touro_Wallpaper.jpg);
}

.GemeosWallpaper 
{
background-image:url(../../../public/Z3-Gemeos_Wallpaper.jpg);
}

.CancerWallpaper 
{
background-image:url(../../../public/Z4-Cancer_Wallpaper.jpg);
}

.LeaoWallpaper
{
background-image:url(../../../public/Z5-Leao_Wallpaper.jpg);
}

.VirgemWallpaper 
{
background-image:url(../../../public/Z6-Virgem_Wallpaper.jpg);
}

.LibraWallpaper 
{
background-image:url(../../../public/Z7-Libra_Wallpaper.jpg);
}

.EscorpiaoWallpaper 
{
background-image:url(../../../public/Z8-Escorpiao_Wallpaper.jpg);
}

.SagitarioWallpaper 
{
background-image:url(../../../public/Z9-Sagitario_Wallpaper.jpg);
}

.CapricornioWallpaper 
{
background-image:url(../../../public/Z10-Capricornio_Wallpaper.jpg);
}

.AquarioWallpaper 
{
background-image:url(../../../public/Z11-Aquario_Wallpaper.jpg);
}

.PeixesWallpaper 
{
background-image:url(../../../public/Z12-Peixes_Wallpaper.jpg);
}

.Content 
{
width:57%;
height:100%;
position:relative;
display:flex;
z-index:2;
}

.ContentAllSign
{
width:100%;
height:100%;
display:flex;
background:var(--Background-ContainerCard);
align-items:center;
position:relative;
}

.XSmallClose 
{
display:none;
cursor:pointer;
}

.WorldSigns
{
width:20%;
height:100%;
background:var(--Background-SmallCard);
display:flex;
align-items:center;
justify-content:center;
position:relative;
z-index:1;
}

.WorldContent 
{
display:flex;
align-items:center;
flex-direction:column;
justify-content:space-between;
position:relative;
width:100%;
height:100%;
}

.WorldContent h2,
.WorldContent img 
{
position:absolute;
}

.WorldContent h2 
{
font-size:12px;
text-align:center;
padding:121px 0 0 0;
color:var(--Color-SmallCard);
}

.SubContent
{
width:100%;
height:80%;
overflow-y:scroll;
display:flex;
flex-direction:column;
color:var(--Standard-Color);
position:relative;
z-index:1;
}

.SubContent::-webkit-scrollbar
{
background:var(--Background-Scroll);
width:6px;
}

.FireStyle::-webkit-scrollbar-thumb
{	
background:var(--Color-Fire);
border-radius:40px;
}

.EarthStyle::-webkit-scrollbar-thumb
{	
background:var(--Color-Earth);
border-radius:40px;
}

.WindStyle::-webkit-scrollbar-thumb
{	
background:var(--Color-Wind);
border-radius:40px;
}

.WaterStyle::-webkit-scrollbar-thumb
{	
background:var(--Color-Water);
border-radius:40px;
}

.HeadingMark 
{   
font-size:40px;
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin:15px 0;
}

.HeadingMark 
img 
{
width:150px;
height:150px;
}

.HeadingMark,
.ParagraphMark
{
padding:10px;
font-family:Kameron;
}

.ParagraphMark 
{
font-size:20px;
letter-spacing:2px;
margin:15px 0 0 0;
}

.CombinationStyle
{
display:flex;
flex-direction:column;
gap:15px;
}

.ContainerXClose
{
display:flex;
justify-content:right;
align-items:center;
width:100%;
height:30px;
margin:5px 0;
padding:5px;
}

.CloseXStyle,
.ParagraphXClose
{
position:relative;
z-index:4;
color:var(--Color-SmallCard);
}

.CloseXStyle
{
font-size:24px;
font-weight:bold;
cursor:pointer;
}

.ParagraphXClose 
{
font-size:14px;
font-weight:bold;
cursor:pointer;
}

.ContainerSmallWorld
{
display:none;
}



/*Media Screen Base Content*/
@media screen and (max-width:1051px)
{

.ContainerBase 
{
background:transparent;
justify-content:flex-start;
}

.ContainerSign
{
margin:0;
width:100%;
height:100%;
}

}

@media screen and (max-width:955px)
{
.Content
{
background-image:none;
width:80% !important;
}
}

@media screen and (max-width:840px)
{

.Content
{
width:100% !important;
}

.WorldSigns
{
display:none !important;
}

.AriesWallpaper,
.TouroWallpaper,
.GemeosWallpaper,
.CancerWallpaper,
.LeaoWallpaper,
.VirgemWallpaper,
.LibraWallpaper,
.EscorpiaoWallpaper,
.SagitarioWallpaper,
.CapricornioWallpaper,
.AquarioWallpaper,
.PeixesWallpaper
{
background-image:none !important;
}

.XSmallClose 
{
font-size:42px;
color:var(--Color_Text_NavBar);
display:block;
position:absolute;
right:10%;
top:5%;
}

.ContainerSmallWorld
{
width:100%;
display:flex;
justify-content:center;
align-items:center;
box-shadow:2px 3px 4px inset var(--Shadows);
}

.ContainerSmallWorld .TextSmallWorld
{
font-size:12px;
}

.ContainerSmallWorld img 
{
width:50px;
height:50px;
}

.ContainerBase,
.Remove 
{
transition:.3s ease-in;
opacity:1 !important;
}

.ContainerBase 
{
height:100% !important;
}

.Remove 
{
height:0 !important;
}

}